

/* =========================
   GENERAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f8fc;
    color: #172033;
}


/* =========================
   HEADER
========================= */

header {
    height: 80px;
    background: #061b32;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #21a6f3;
    margin-right: 8px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

    padding: 28px 0;
}

nav a:hover,
nav .active {
    color: #21a6f3;
    border-bottom: 3px solid #21a6f3;
}


/* =========================
   HERO
========================= */

.hero {
    text-align: center;
    padding: 65px 20px 35px;

    background: linear-gradient(
        180deg,
        #edf7ff,
        #f7fbff
    );
}

.welcome {
    display: inline-block;

    padding: 10px 22px;
    border-radius: 30px;

    color: #0969d5;
    background: #e2f1ff;

    font-weight: bold;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 52px;
    margin-bottom: 18px;
}

.hero h1 span {
    color: #0878df;
}

.hero p {
    max-width: 700px;
    margin: auto;

    font-size: 18px;
    line-height: 1.7;

    color: #56647a;
}

.divider {
    color: #0878df;
    font-size: 22px;

    margin: 25px 0;
}

.hero h2 {
    font-size: 21px;
}


/* =========================
   ROLE CARDS
========================= */

.roles {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 22px;

    padding: 25px 7% 65px;

    background: #f7fbff;
}

.card {
    background: white;

    text-align: center;

    padding: 32px 25px;

    border-radius: 18px;

    box-shadow: 0 8px 30px rgba(0, 8, 16, 0.956);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-25px);

    box-shadow:
        0 15px 35px rgba(30, 70, 110, 0.18);
}


/* ICON */

.icon {
    width: 90px;
    height: 90px;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    font-size: 40px;

    background: #e5f2ff;
}


/* CARD TITLE */

.card h3 {
    font-size: 25px;
    margin: 20px 0 10px;
}

.small-line {
    width: 45px;
    height: 3px;

    margin: auto;
    margin-bottom: 20px;

    background: #0878df;
}

.card p {
    min-height: 80px;

    color: #5d6979;

    font-size: 15px;

    line-height: 1.6;

    margin-bottom: 25px;
}


/* BUTTON */

.btn {
    display: block;

    text-decoration: none;

    color: white;

    padding: 14px 10px;

    border-radius: 20px;

    font-weight: bold;

    transition: 0.3s;

    background: #0878df;
}

.btn:hover {
    transform: scale(1.03);
    
}


/* =========================
   DIFFERENT ROLE COLORS
========================= */

.doctor .icon {
    background: #e0f7eb;
}

.doctor h3 {
    color: #15945a;
}

.doctor .small-line,
.doctor .btn  {
    background-color: #15945a;
}
.doctor.btn:hover{
    background-color: #123c29;
}




.reception .icon {
    background: #eee7ff;
}

.reception h3 {
    color: #6636c5;
}

.reception .small-line,
.reception .btn {
    background: #6636c5;
}



.admin .icon {
    background: #fff0dd;
}

.admin h3 {
    color: #f17b13;
}

.admin .small-line,
.admin .btn {
    background: #f17b13;
}


/* =========================
   FOOTER
========================= */

footer {
    background: #061b32;

    color: white;

    text-align: center;

    padding: 22px;

    font-size: 14px;
}

footer span {
    color: #21a6f3;
    margin-left: 10px;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1000px) {

    .roles {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero h1 {
        font-size: 42px;
    }
}


@media (max-width: 650px) {

    header {
        height: auto;

        padding: 20px;

        flex-direction: column;

        gap: 15px;
    }

    nav {
        gap: 20px;
    }

    nav a {
        padding: 5px;
    }

    .hero h1 {
        font-size: 34px;
    }

    .hero p {
        font-size: 16px;
    }

    .roles {
        grid-template-columns: 1fr;

        padding: 20px;
    }
}
